@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
  
  body {
    font-family: 'Pretendard', sans-serif;  /* 프렌다드 글꼴을 기본 글꼴로 지정 */
  }

  .mycontainer {
    width : 395px;
    height: 649px;
    text-align: center;
    align-items: center;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}